<%- include("header") %>

<div class="box" id="heading">
    <h1>This is the about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus id earum quasi explicabo quam dolores reprehenderit quas dolorem illo sit. Ut facilis animi pariatur commodi, quibusdam odit, corrupti quidem molestias asperiores adipisci sit culpa vitae quas esse tempore, libero ullam perspiciatis aspernatur nemo. Sequi aliquid tempora consequuntur in voluptatem vitae neque enim recusandae? Eveniet cumque, atque, iusto hic excepturi porro voluptatem numquam iste libero eius est autem, labore sit blanditiis totam harum eaque error eos. Aspernatur, aperiam, ducimus eligendi, earum temporibus laborum suscipit soluta dignissimos voluptatibus dolorum vel quidem labore facilis eaque consequatur ipsum rerum a saepe nemo voluptate veniam iure quam enim ea. Nam iusto minus, autem dolor impedit sit cum exercitationem, animi pariatur enim distinctio, error mollitia delectus suscipit magnam a nesciunt molestias quaerat! Veritatis dolores optio recusandae, facilis aspernatur laborum cum soluta suscipit voluptate, porro voluptatibus accusantium! Voluptatem natus pariatur accusantium quo neque, quisquam deleniti perspiciatis quidem.</p>
</div>


<%- include("footer") %>